$breakpoint-tablet: 640px;
$breakpoint-desktop: 1040px;
$breakpoint-XXDesktop: 1400px;
$padding-inline-mobile: 16px;
$padding-inline-tablet: 24px;
$padding-inline-desktop: 32px;
$padding-inline-XXDesktop: 152px;
$font-size-xs: 12px; // Extra Small
$font-size-sm: 14px; // Small
$font-size-md: 16px; // Medium (базовий розмір)
$font-size-xl: 20px; // Extra Large
$font-size-2xl: 22px; // 2x Extra Large
$font-size-5xl: 32px; // 5x Extra Large
$font-size-6xl: 48px; // 5x Extra Large

$font-weight-thin: 100; // Thin
$font-weight-extralight: 200; // Extra Light
$font-weight-light: 300; // Light
$font-weight-regular: 400; // Regular (Normal)
$font-weight-medium: 500; // Medium
$font-weight-semibold: 600; // Semi Bold
$font-weight-bold: 700; // Bold
$font-weight-extrabold: 800; // Extra Bold
$font-weight-black: 900; // Black

$c-transparent: rgba(0, 0, 0, 0);
$c-white: #fff;
$c-white-off: #f1f2f9;
$c-white-soft: #fafbfc;
$c-grey-pale: #e2e6e9;
$c-grey-light: #b4bdc3;
$c-grey-medium: #89939a;
$c-grey-dark: #75767f;
$c-grey-slate: #4a4d58;
$c-grey-charcoal: #313237;
$c-grey-night: #323542;
$c-black-blue: #161827;
$c-black-deep: #0f1121;
$c-black: #0f0f11;
$c-black-true: #000;
$c-purple: #905bff;
$c-purple-light: #a378ff;
$c-purple-deep: #4219d0;
$c-purple-vivid: #5729e0;
$c-blue-bright: #216cff;
$c-blue-sky: #3d7fff;
$c-blue-violet: #4219d0;
$c-cyan-neon: #01f8ff;
$c-cyan-dark: #00e1ff;
$c-deep-pink: #f447af;
$c-orange: #f86800;
$c-orange-light: #ff7a1a;
$c-peach: #ffc4aa;
$c-peach-dark: #fea77e;
$c-yellow: #ffee15;
$c-bright-blue: #0057b7;
$c-anthracite: #373f43;
$c-anthracite-blue: #3b3e4a;
$c-green: #27ae60;

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */
:export {
  white: #{$c-white};
  greyCharcoal: #{$c-grey-charcoal};
  blackDeep: #{$c-black-deep};
  whiteOff: #{$c-white-off};
  purple: #{$c-purple};
  black: #{$c-black};
  blueViolet: #{$c-blue-violet};
  cyanNeon: #{$c-cyan-neon};
  blueBright: #{$c-blue-bright};
  peach: #{$c-peach};
  orange: #{$c-orange};
  yellow: #{$c-yellow};
  brightBlue: #{$c-bright-blue};
  blueSky: #{$c-blue-sky};
}
